@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  background-color: #fff3e4;
}

header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

header a {
  color: #6b4f4f;
  text-decoration: none;
}

#hamburgerButton {
  background-color: #6b4f4f;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}

#hamburgerButton span {
  width: 36px;
  height: 4px;
  background-color: #fef5ed;
  border-radius: 5px;
  margin: 4px;
  transition: all 0.5s ease;
}

#hamburgerButton.on span:nth-of-type(1) {
  transform: rotate(45deg) translate(9px, 8px);
}
#hamburgerButton.on span:nth-of-type(2) {
  transform: scale(0.1);
  opacity: 0;
}
#hamburgerButton.on span:nth-of-type(3) {
  transform: rotate(-45deg) translate(9px, -8px);
}

#hamburgerMenu {
  width: 100%;
  background-color: #6b4f4f;
  color: #fef5ed;
  text-align: center;
  padding: 50px 0;
  position: fixed;
  top: -300px;
  opacity: 0.9;
  transition: top 0.5s ease;
  z-index: 4;
}

#hamburgerMenu.on {
  top: 0px;
}

#hamburgerMenu div {
  margin: 30px;
}

section {
  margin: 0 auto;
  padding: 0 20px;
}

.allPosts {
  padding: 0;
}

.isLoading {
  position: fixed;
  top: 40%;
  left: 50%;
  font-size: 40px;
  z-index: 10;
}

article {
  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  display: inline-flex;
  background-color: #fef5ed;
}

.fade-in {
  animation: fadeIn 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.leftArea {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  padding: 3px 0;
  font-weight: bold;
  color: #666;
}

.arrow {
  font-size: 30px;
  color: #eed6c4;
}

.rightArea {
  margin: 10px;
}

h3 a {
  color: #333;
  text-decoration: none;
}

figure {
  margin: 0;
}

.postedBy {
  font-size: 12px;
  color: #999;
}

#commentSection {
  width: 90%;
  max-width: 800px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fef5ed;
  display: flex;
}

#commentSection h3 {
  color: #6b4f4f;
}

.comment {
  border: 1px solid #eed6c4;
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #FEF9EF;
}

.comment-author {
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
  display: block;
}

#pageTop {
  cursor: pointer;
  position: fixed;
  bottom: -50px;
  right: 10px;
  font-size: 40px;
  color: #6b4f4f;
  transition: all .5s ease;
  opacity: 0;
}

#pageTop.show {
  opacity: 1;
  bottom: 10px
}

footer {
  background-color: #6b4f4f;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  position: relative;
  bottom: 0;
}
