@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
    background-color: #FFF3E4;
}

header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
}

header a {
  color: #6B4F4F;
  text-decoration: none;
}

footer {
  background-color: #6B4F4F;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  position: relative;
  bottom: 0;
}
